* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; /* Pour gérer la disposition plus facilement */
    font-family: inherit; /* Pour une cohérence de la police de caractères */
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-image: linear-gradient(to bottom, #FF1A51, #FF6610);
}

.match-schedule-div {
    background: rgba(128, 128, 128, 0.5); /* Gris flou */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.inner-match-schedule-div {
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 95%;
    flex-grow: 1;
}

/*---------header section -----------------------------------------*/

header {
    position: fixed; /* Fixe l'en-tête en haut de la page */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%; /* Ajoute un espace de 10% de chaque côté */
    z-index: 1000; /* S'assurer que l'en-tête reste au-dessus des autres éléments */
}

.navigation-links {
    display: flex;
}

.icon-link img {
    width: 50px; /* Taille des icônes */
    height: 50px;
    border-radius: 10px; /* Coins arrondis */
    background-color: white;
    padding: 5px; /* Espace entre l'image et le bord du carré */
    margin-right: 10px; /* Espace entre les icônes */
}

.logo img {
    width: 100px; /* Taille du logo */
}

.text-link {
    /* Style pour les liens textuels */
    color: black;
    text-decoration: none;
    margin-right: 10px;
}
